/* header styling */
#top {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: brown;
    margin: 0px;
    font-size: 20pt;
    font-family: Arial, Helvetica, serif;
    padding: 20px;
    border: 2px solid rgb(0, 0, 0);
  }
/* blanket flexbox rules for consistency */
.form-group,
.form-group2 {
    display: flex;
    flex-wrap: wrap;
    background-color: blanchedalmond;
    margin: 5% 5% 5%;
    padding: 20px;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    font-size: 15pt;
    justify-content: space-evenly;
  
    padding: 5%;
  }

#button2,
#button1 {
    display: flex;
    flex-wrap: wrap;
    margin: 3%;
    font-size: large;
    align-items: flex-start;
  }
/* sets rules for the results containers */
.container {
  display: flex;
  flex-wrap: wrap;
  background-color: blanchedalmond;
  object-fit: scale-down;
  overflow: scroll;
  border: 3px solid #fff;
  float: left;
  padding: 20px;
  border: 2px solid rgb(0, 0, 0);
  margin: 5% 5% 5%;
  width: 350px;
  height: 350px;
  justify-content: space-around;
}
html {
  background-color: rgb(54, 54, 54)}


